In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ETH_1h.csv')

In [4]:
df.shape

(23674, 7)

In [5]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [6]:
df.loc[0, 'Date']

'2020-03-13 08-PM'

In [8]:
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %I-%p' )

In [9]:
df['Date'].head()

0   2020-03-13 20:00:00
1   2020-03-13 19:00:00
2   2020-03-13 18:00:00
3   2020-03-13 17:00:00
4   2020-03-13 16:00:00
Name: Date, dtype: datetime64[ns]

In [10]:
df.loc[0, 'Date'].day_name()

'Friday'

In [11]:
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [13]:
df['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [14]:
df['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [15]:
df['Date'].max() - df['Date'].min()

Timedelta('986 days 09:00:00')

In [16]:
filter_date_time = (df['Date'] >= '2020')

In [17]:
df[filter_date_time]

                    Date  Symbol    Open    High     Low   Close      Volume
0    2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1    2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2    2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3    2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4    2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                  ...     ...     ...     ...     ...     ...         ...
1744 2020-01-01 04:00:00  ETHUSD  129.57  130.00  129.50  129.56   702786.82
1745 2020-01-01 03:00:00  ETHUSD  130.37  130.44  129.38  129.57   496704.23
1746 2020-01-01 02:00:00  ETHUSD  130.14  130.50  129.91  130.37   396315.72
1747 2020-01-01 01:00:00  ETHUSD  128.34  130.14  128.32  130.14   635419.40
1748 2020-01-01 00:00:00  ETHUSD  128.54  128.54  128.12  128.34   245119.91

[1749 rows x 7 columns]

In [19]:
df.set_index('Date', inplace=True)

In [20]:
df.head()

                     Symbol    Open    High     Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [21]:
df['High'].resample('D').max()                                     #Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex
#we are validating our data with days because our data is hourly based

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [22]:
df['2019']

C:\Users\MAYANK\AppData\Local\Temp\ipykernel_25476\1813439174.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2019']

                     Symbol    Open    High     Low   Close      Volume
Date
2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                     ...     ...     ...     ...     ...         ...
2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 6 columns]

In [23]:
df.resample('W').mean()                  #weekly analysis

                  Open        High         Low       Close        Volume
Date
2017-07-02  268.066486  271.124595  264.819730  268.202162  2.185035e+06
2017-07-09  261.337024  262.872917  259.186190  261.062083  1.337349e+06
2017-07-16  196.193214  199.204405  192.722321  195.698393  2.986756e+06
2017-07-23  212.351429  215.779286  209.126310  212.783750  4.298593e+06
2017-07-30  203.496190  205.110357  201.714048  203.309524  1.581729e+06
...                ...         ...         ...         ...           ...
2020-02-16  255.021667  257.255238  252.679762  255.198452  2.329087e+06
2020-02-23  265.220833  267.263690  262.948512  265.321905  1.826094e+06
2020-03-01  236.720536  238.697500  234.208750  236.373988  2.198762e+06
2020-03-08  229.923571  231.284583  228.373810  229.817619  1.628910e+06
2020-03-15  176.937521  179.979487  172.936239  176.332821  4.259828e+06

[142 rows x 5 columns]

In [24]:
df.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

                 Close    High     Low        Volume
Date
2017-07-02  268.202162  293.73  253.23  8.084631e+07
2017-07-09  261.062083  285.00  231.25  2.246746e+08
2017-07-16  195.698393  240.33  130.26  5.017750e+08
2017-07-23  212.783750  249.40  153.25  7.221637e+08
2017-07-30  203.309524  229.99  178.03  2.657305e+08
...                ...     ...     ...           ...
2020-02-16  255.198452  290.00  216.31  3.912867e+08
2020-02-23  265.321905  287.13  242.36  3.067838e+08
2020-03-01  236.373988  278.13  209.26  3.693920e+08
2020-03-08  229.817619  253.01  196.00  2.736569e+08
2020-03-15  176.332821  208.65   90.00  4.983998e+08

[142 rows x 4 columns]